.card-inner {
    position: relative;
    width: 70px;
    height: 70px;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
    border-radius: 8px;
}

.card-inner.flipped {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    width: 70px;
    height: 70px;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
}

.card-front {
    background-color: #ffffff;
    transform: rotateY(180deg);
}
